.game {
  box-sizing: border-box;
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 0.5%;
  flex: 2 1 auto;
  min-width: 400px;
  height: 100%;
  //test
  //height: 300px;
  // background-color: aquamarine;
  display: flex;
  flex-wrap: wrap;

  //gap: 1%;
  @media screen and (max-width: 805px) {
    height: 50%;
  }
}
